<%- contentFor('body') %>
<div class="container text-center py-5">
  <h1 class="display-4 mb-3"><%= errorCode %></h1>
  <p class="lead mb-4"><%= errorMessage %></p>
  <a href="/" class="btn btn-primary btn-lg"><%= t('navbar.home') %></a>
</div>
